version: '3'

services:
    database:
        build:
            context: database
        environment:
            - MYSQL_DATABASE=${DATABASE_NAME}
            - MYSQL_USER=${DATABASE_USER}
            - MYSQL_PASSWORD=${DATABASE_PASSWORD}
            - MYSQL_ROOT_PASSWORD=${DATABASE_ROOT_PASSWORD}
        ports:
            - "3333:3306"
        volumes:
            - ./database/data:/var/lib/mysql

    php-fpm:
        build:
            context: php-fpm
        depends_on:
            - database
        volumes:
            - ../app:/var/www

    nginx:
        build:
            context: nginx
        volumes:
            - ../app:/var/www
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./nginx/sites/:/etc/nginx/sites-available
            - ./nginx/conf.d/:/etc/nginx/conf.d
            - ./nginx/logs:/var/log/nginx
        depends_on:
            - php-fpm
        ports:
            - "8080:80"

    rabbitmq:
        image: rabbitmq:3.8.9-alpine
        ports:
            - '15672:15672'
            - '5672:5672'
        environment:
            - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
            - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
            - RABBITMQ_DEFAULT_VHOST=${RABBITMQ_DEFAULT_VHOST}