<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <a href="{{ url }}">Verify</a>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>