doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        types:
            advertisement_state: App\App\Doctrine\DBAL\Type\AdvertisementStateType
        mapping_types:
            enum: string

    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            Domain:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Domain'
                prefix: 'App\Domain'
                alias: App
